html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#app {
  width: 90%;
}

.shepherd-element[data-popper-placement="bottom"] {
  /* Fix arrow position */
  margin-top: 15px;
  max-width: 800px;
}